nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 15px 30px;
  background-color: #f5f5f5;
  border-bottom: 1px solid black;
}

#nav-logo-img {
  height: 60px;
  width: 150px;
}

/* CSS */
.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 300px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.login-form h2 {
  text-align: center;
}

.login-form .form-group {
  margin-bottom: 10px;
}

.login-form label {
  display: block;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 5px;
}

.login-form button[type="submit"] {
  width: 100%;
  padding: 8px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-form button[type="submit"]:hover {
  background-color: #555;
}


.signup-form {
  width: 300px;
  padding: 30px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-top: 20px;
}

.signup-form h2 {
  text-align: center;
}

.signup-form .form-group {
  margin-bottom: 10px;
}

.signup-form label {
  display: block;
}

.signup-form input[type="text"],
.signup-form input[type="password"],
.signup-form input[type="email"] {
  width: 100%;
  padding: 5px;
}

.signup-form button[type="submit"] {
  width: 100%;
  padding: 8px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.signup-form button[type="submit"]:hover {
  background-color: #555;
}

/* CSS */
.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-size: 20px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}